.input-group {
  padding-top: 10px;
  width: 30%;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.btn {
  width: 100px;
  height: 40px;
}

body,
html {
  height: 100%;
}

img {
  height: 220px;
  width: 220px;
}

p {
  text-align: center;
}

.display-4 {
  padding-bottom: 20px;
}

#buttons-view {
  padding-bottom: 20px;
}

#gif-view {
  padding-bottom: 40px;
}
